* {
	font-family: "Arial", monospace;
	font-size: 20px;
}

h1 {
 font-size: 50px;
}

#external {
	color: yellow;
}

#bootcamp {
	text-transform: uppercase;
}

.tobelearned {
	background-color: lightgreen;
}

ol [value] {
	border-width: 2px;
	border-style: solid;
	border-color: lightblue;
}

.proglang {
	margin-left: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
}

div + p {
	letter-spacing: 10px;	
}

section > p {
	letter-spacing: 10px;
}

div img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

section ~ p {
	text-align: center;
}
